version: 2.1

orbs:
  trade-tariff: trade-tariff/trade-tariff-ci-orb@0.3.3
  terraform: circleci/terraform@3.2.0

executors:
  default:
    working_directory: "/tmp/terraform"
    resource_class: small
    docker:
      - image: hashicorp/terraform:1.4.0
    environment:
      TF_IN_AUTOMATION: 1

jobs:
  fmt_validate_terraform:
    executor: default
    parameters:
      environment:
        type: string
    steps:
      - checkout
      - terraform/init:
          backend_config_file: backends/<< parameters.environment >>.tfbackend
      - terraform/fmt
      - terraform/validate

  plan_terraform:
    executor: default
    parameters:
      environment:
        type: string
    steps:
      - checkout
      - terraform/init:
          backend_config_file: backends/<< parameters.environment >>.tfbackend
      - terraform/plan:
          backend_config_file: backends/<< parameters.environment >>.tfbackend
          out: tfplan
      - persist_to_workspace:
          root: /tmp/terraform
          paths:
            - tfplan

  comment_plan:
    executor: default
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/terraform
      - trade-tariff/comment-terraform-plan:
          path: tfplan

  apply_terraform:
    executor: default
    parameters:
      environment:
        type: string
    steps:
      - checkout
      - terraform/init:
          backend_config_file: backends/<< parameters.environment >>.tfbackend
      - terraform/apply:
          backend_config_file: backends/<< parameters.environment >>.tfbackend

workflows:
  version: 2
  terraform:
    jobs:
      - fmt_validate_terraform:
          context: trade-tariff-bot-aws-development
          environment: development
          filters:
            branches:
              ignore:
                - main

      - trade-tariff/hide-expired-comments:
          context: trade-tariff-bot-github
          filters:
            branches:
              ignore:
                - main

      - plan_terraform:
          name: plan_development
          environment: development
          context: trade-tariff-bot-aws-development
          requires: [fmt_validate_terraform]
          filters:
            branches:
              ignore:
                - main

      - comment_plan:
          name: comment_development_plan
          context: trade-tariff-bot-github
          requires: [plan_development]
          filters:
            branches:
              ignore:
                - main

      # - plan_terraform:
      #     name: plan_staging
      #     environment: staging
      #     context: trade-tariff-bot-aws-staging
      #     requires: [fmt_validate_terraform]
      #     filters:
      #       branches:
      #         ignore:
      #           - main

      # - plan_terraform:
      #     name: plan_production
      #     environment: production
      #     context: trade-tariff-bot-aws-production
      #     requires: [fmt_validate_terraform]
      #     filters:
      #       branches:
      #         ignore:
      #           - main

      - apply_terraform:
          name: apply_development
          environment: development
          context: trade-tariff-bot-aws-development
          filters:
            branches:
              only:
                - main

      # - apply_terraform:
      #     name: apply_staging
      #     environment: staging
      #     context: trade-tariff-bot-aws-staging
      #     requires: [apply_development]
      #     filters:
      #       branches:
      #         only:
      #           - main

      # - hold_apply_production:
      #     type: approval
      #     requires: [apply_staging]
      #     filters:
      #       branches:
      #         only:
      #           - main

      # - apply_terraform:
      #     name: apply_production
      #     environment: production
      #     context: trade-tariff-bot-aws-production
      #     requires: [hold_apply_production]
      #     filters:
      #       branches:
      #         only:
      #           - main
