version: 2.1

orbs:
  terraform: "circleci/terraform@3.1.0"

executors:
  default:
    working_directory: "/tmp/terraform"
    resource_class: small
    docker:
      - image: hashicorp/terraform:1.4.0
    environment:
      TF_IN_AUTOMATION: 1

jobs:
  fmt_validate_terraform:
    executor: default
    parameters:
      environment:
        type: string
    steps:
      - checkout
      - terraform/init:
          backend_config_file: backends/<< parameters.environment >>.tfbackend
      - terraform/fmt
      - terraform/validate

  plan_terraform:
    executor: default
    parameters:
      environment:
        type: string
    steps:
      - checkout
      - terraform/init:
          backend_config_file: backends/<< parameters.environment >>.tfbackend
      - terraform/plan:
          backend_config_file: backends/<< parameters.environment >>.tfbackend

workflows:
  version: 2
  terraform:
    jobs:
      - fmt_validate_terraform:
          context: trade-tariff-bot-aws-development
          environment: development
          filters:
            branches:
              ignore:
                - main
      - plan_terraform:
          name: development
          environment: development
          context: trade-tariff-bot-aws-development
          requires:
            - fmt_validate_terraform
          filters:
            branches:
              ignore:
                - main
